export(
    forest,
    funnel,
    leave1out,
    meta,
    metabias,
    nsue,
    smc_from_t,
    smd_from_t,
    zcor_from_r
)

S3method(coef, meta.nsue)
S3method(fitted, meta.nsue)
S3method(forest, meta.nsue)
S3method(funnel, meta.nsue)
S3method(leave1out, nsue)
S3method(meta, nsue)
S3method(metabias, meta.nsue)
S3method(plot, meta.nsue)
S3method(print, leave1out.nsue)
S3method(print, meta.nsue)
S3method(print, nsue)
S3method(residuals, meta.nsue)
S3method(subset, nsue)
S3method(summary, leave1out.nsue)
S3method(summary, meta.nsue)

importFrom("graphics", "lines", "plot", "plot.new", "plot.window",
    "polygon", "strwidth", "text")
importFrom("grDevices", "rgb")
importFrom("stats", "as.formula", "cov", "dnorm", "lm.wfit",
    "model.matrix", "optim", "optimize", "pchisq", "pf", "pnorm",
    "qchisq", "qnorm", "qt", "quantile", "rnorm", "runif", "symnum",
    "var")
